Sora 2 Agent.json
{
  "name": "Sora 2 Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "700b64f1-5d8d-4bfc-aa36-6f23400eeed7",
              "name": "video_prompt",
              "value": "Una navicella spaziale che spara un raggio di energia e distrugge un pianeta.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        96
      ],
      "id": "839c66af-d38f-41fe-a14d-83bff414a40d",
      "name": "Video prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.video_prompt }}\",\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"1\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        96
      ],
      "id": "d241fc1d-a432-4282-a2d7-383098e920a4",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CREDENTIAL_ID",
          "name": "Kie.AI"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        96
      ],
      "id": "f2a923a9-1621-4b99-ad80-8c07298337fb",
      "name": "Wait",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        16
      ],
      "id": "ddcd2812-bd03-41af-a13f-2cdd765d67ea",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CREDENTIAL_ID",
          "name": "Kie.AI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69a20186-25ea-471d-b0ca-93e6c4555b34",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        96
      ],
      "id": "7dfd924b-5d11-4694-a2aa-74b1540834b7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c794490b-e64c-4f87-a7f6-11f1d7399de6",
              "name": "video_url",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        96
      ],
      "id": "964addc5-54df-40aa-8566-545a3ed277ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Prompt to Video simple ver",
        "height": 464,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        -48
      ],
      "typeVersion": 1,
      "id": "9da9ca3a-6388-4cf2-9f85-ae293bf02586",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Sei un esperto ingegnere di prompt video AI, formato per progettare prompt ottimizzati per la generazione video con Sora 2. Il tuo compito è prendere un concetto grezzo in ingresso (come un idea breve, una descrizione di scena o un tipo di video) e trasformarlo in un prompt video altamente dettagliato, visivamente ricco e cinematografico.\n\nIl tuo output deve descrivere **video realistico e dall'aspetto naturale** che corrispinda all'intento iniziale. Concentrati sull'ottimizzazione della qualità visiva, del realismo della camera. dell'illuminazione, del mivimento dei soggetti e della coerenza ambientale.\n\nSegui queste regole per ogni prompt:\n\n1. Descrivi sempre:\n\n  * Isoggetti principali: aspettom, abbigliamento, età, genere, esperessione e movimento.\n  * L'ambientazione: luogo, sfondo, illuminazione, ora del giorno, atmosfera.\n  * Lostile della camera: angolazione, tipo di lente, inquadratura e movimento \n  * Il tono o l'emozionedella scena (es. cinematografico, documentaristico, energico, drammatico).\n  * Gli effetti ambientali e di illuminazione realistici (es. luce solaremorbida, riflessi, motion blur).\n\n2. Il prompt deve sembrare la descrizione di una scnea fatta da un direttore della fotografia professionista e un team di effetti visivi.\n\n3. Evita frasi generiche o ripetitive: ogni frase deve aggiungere un dettaglio visivo o contestuale.\n\n4. Mantieni un tono naturale e descrittivo, non tecnico o meccanico.\n\n5. Assicurati che il prompt scorra in modo fluido e trasmetta una visione coesa e unitaria.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        704
      ],
      "id": "896b966e-4fe0-4041-a60c-17637dd5301a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        944
      ],
      "id": "7b103aaf-c01d-47da-8676-f761f6bed07a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        704
      ],
      "id": "559478f9-d662-49b0-b145-978e1d7db0f2",
      "name": "When chat message received",
      "webhookId": "YOUR_CHAT_WEBHOOK_ID"
    },
    {
      "parameters": {
        "content": "## SORA 2 with Agent\n",
        "height": 640,
        "width": 1680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        528
      ],
      "typeVersion": 1,
      "id": "e8937cf5-4ef5-49cf-a3d1-3b0593d7635a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        96
      ],
      "id": "62e86029-7468-41f1-acad-2cfe4d84ad50",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        704
      ],
      "id": "f35d150d-e371-4b77-8ac2-5df8dc45a9f4",
      "name": "Wait1",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69a20186-25ea-471d-b0ca-93e6c4555b34",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        704
      ],
      "id": "b3010f3f-bebe-42c9-9511-2814b01fa3f4",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        704
      ],
      "id": "fe1951cd-f863-4c47-b2b2-2e39d5510ee3",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CREDENTIAL_ID",
          "name": "Kie.AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $json.video_prompt }}\",\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"2\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        704
      ],
      "id": "e53f8f53-b30f-4c2c-9d09-b2f4f08a5dc3",
      "name": "Send Video Prompt",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CREDENTIAL_ID",
          "name": "Kie.AI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c794490b-e64c-4f87-a7f6-11f1d7399de6",
              "name": "video_url",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        688
      ],
      "id": "f1c89527-ef2f-483a-8a05-422ab1024c45",
      "name": "Video URL"
    }
  ],
  "pinData": {},
  "connections": {
    "Video prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Video prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Prompt": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af8c6476-7c59-4a0d-89ee-6ba5feeda351",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}